@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;800&family=Montserrat:wght@400;800&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pry-clr: #fff;
  --sec-clr: #81afdd;
  --neutral-clr: #ff8a71;
  --bg-btn: #fa613e;
  --clr: #ae67fa;
  --bg: #040c18;
  --bg-modal: #142236;
  --bg-gradient: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --font-family: 'Manrope', sans-serif;
}

html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--bg-btn);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  overflow-wrap: break-word;
}
p {
  font-size: 14px;
}
/* #logoText {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
#nav {
  display: flex;
  padding: 20px 0 !important;
}
.logo {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: -10px;
  padding-right: 15px;
}
#nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.logoImg {
  width: 60px;
}
#logoText {
  margin-left: -5px;
}
#logoText span {
  color: #ae67fa;
  font-style: italic;
}
.loginBtn {
  background-color: var(--neutral-clr) !important;
}
.banner {
  background: -moz-linear-gradient(
    to bottom,
    #040c18 -4%,
    rgba(0, 40, 83, 1) 25%,
    rgba(4, 12, 24, 1) 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    #040c18 -4%,
    rgba(0, 40, 83, 1) 25%,
    rgba(4, 12, 24, 1) 100%
  );
  background: -o-linear-gradient(
    to bottom,
    #040c18 -4%,
    rgba(0, 40, 83, 1) 25%,
    rgba(4, 12, 24, 1) 100%
  );
  background: radial-gradient(
    to bottom,
    #040c18 -4%,
    rgba(0, 40, 83, 1) 25%,
    rgba(4, 12, 24, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    #040c18 0%,
    rgba(0, 40, 83, 1) 25%,
    rgba(4, 12, 24, 1) 100%
  );
}

#container {
  background: radial-gradient(rgba(0, 40, 83, 1) 10%, rgba(4, 12, 24, 1) 70%);
}

#bannerHeading {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#carouselCoins {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.coin-symbol {
  font-size: 14px;
}
.current-price {
  font-weight: 700;
}
#tableHead {
  background: linear-gradient(103.2deg, #ae67fa -13.86%, #fa9867 99.55%);
}
.btnContainer {
  width: 100%;
  display: flex;
  margin: 20px 0;
}
.btnContainer > * {
  margin-right: 12px;
}
.chartBtn {
  width: 100%;
  padding: 8px;
  font-size: 18px;
  background: none;
  color: var(--pry-clr);
  text-align: center;
  box-shadow: 0 0 0 2px var(--sec-clr);
  border: 0;
  border-radius: 5px;
  outline: 0;
  transition: background 0.3s ease-out;
  cursor: pointer;
}
.chartBtn:last-child {
  margin-right: 0;
}
.chartBtn:hover,
.chartBtn.active {
  background: var(--sec-clr);
  color: #040c18;
}
.chartBtn.active {
  font-weight: 700;
}
.errorImg {
  width: 50%;
  margin: 0 auto;
}
.errorImg img {
  width: 250px;
  margin: 0 auto;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#modal {
  width: 100%;
}
#tabsWrapper {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.PrivateTabIndicator-colorSecondary-73 {
  background: linear-gradient(to right, #81afdd 25%, #ae67fa 100%) !important;
}
#userPic {
  background: radial-gradient(#ae67fa, #81afdd);
}
@media screen and (min-width: 800px) {
  br {
    display: none;
  }
  .logoImg {
    width: 70px;
  }
  #logoText {
    font-size: 25px;
  }
  #carouselCoins {
    margin-left: 45%;
    text-align: center;
  }
  .btnContainer > * {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 1280px) {
  #chartContainer {
    width: 100%;
    margin-top: 25px;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  #chartContainer {
    height: 85vh;
  }
}
